/*Global CSS*/

/*Accordion CSS*/
.accordion {
    background-color: brown;
    color: #fff;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: 5px;
    margin: 5px;
    outline: medium 5px azure;
    transition: 0.3s;
}

    .active, .accordion:hover {
        background-color: forestgreen;
    }
/*Hides details by default*/

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202142;
    line-height: 1.6;
    color: #fff;
    overflow-x: hidden;
}

.accordionContainer {
    border: 2px solid black;
    margin: 1em 1em;
    padding: 0;
    overflow: hidden;
    width:95%;
}

div.sectionContainer {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

div.clear {
    clear: both;
}

header {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    font-size: 16px;
}

span {
    display: inline;
}

h1 {
    color: crimson;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3em;
    width: 100%;
    height: 100%;
}

p {
    font: 16px;
    position: relative;
    color: crimson;
    text-align: left;
}

#textContainer {
    position: relative;
    margin-top: 2em;
    border-left: 5px solid forestgreen;
    border-bottom: 5px solid forestgreen;
    border-top: 5px solid forestgreen;
}

#headerText {
    font-size: 24px;
    font-style: italic;
}

.colLeft {
    margin-top: 5%;
    width: 70%;
    float: left;
    padding: 0;
    margin: 0;
}

.colRight {
    padding: 0;
    margin: 0;
    width: 20%;
    float: right;
}

img {
    width: 100%;
    height: 100%;
}
/* styling for Installation*/
h1.sectionTitle {
    text-align: center;
    text-decoration: underline;
}

ul {
    text-align: left;
    list-style: decimal;
    padding-left: 5px;
    font-size: 20px;
}

a, a:visited {
    color: forestgreen;
}

.codeSnippet {
    background-color: rgba(164, 157, 183, 0.8);
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0.2em 0.3em 0.2em;
    color: crimson;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: crimson;
    text-decoration: underline;
    font-weight: 600;
}

#lessCode {
    width: 300px;
    height: 150px;
}

#moreCode {
    width: 400px;
    height: 300px;
}

footer{
    text-align:right;
    color:orangered;
    padding:1em;
}